<div class="frontpage">
    <nav class="flex gap-2	bg-red-400 text-black ">


        <% if(user){ %>
            <a class="" href="/user/profile">Home</a>
            <a class=" " href="/expense/create">Log Expense</a>
            <a class=" " href="/expense/show">Watch Expenses</a>
        <%}else{ %>
            <a class=" " href="/">Home</a>
        <% }%>
            <a class=" " href="/about">About</a>


    </nav>
</div>