<div >
    <nav >

        <% if(user){ %>
          <div class="signup">
            <a  href="/user/profile">Home</a>
            <a  href="/expense/create">Log Expense</a>
            <a  href="/expense/show">Watch Expenses</a>
          </div>
        <%}else{ %>
            <a class="homepage" href="/">Home</a>
        <% }%>
            <!-- <a href="/about">About</a> -->


    </nav>
</div>