<%- include("partials/header")%>
  <link rel="stylesheet" href="/stylesheets/CreateExpense.css">
  <%- include("partials/nav")%>
    <div class="create-expense">
      <h1>Create Expenses</h1>

      <form action="/expense/create" method="post">
        <input type="text" name="title" placeholder="Title">
        <br>
        <input type="number" name="amount" placeholder="Amount">
        <br>
        <input type="text" name="category" placeholder="Category">
        <br>
        <input type="text" name="remark" placeholder="Remark">
        <br>
        <input type="text" name="paymentmode" placeholder="Payment Mode">
        <br>
        <button>Log Expense</button>
      </form>
    </div>
    <%- include("partials/footer")%>