<%- include("partials/header")%>
<link rel="stylesheet" href="stylesheets/index.css">
  <%- include("partials/nav")%>
    <div" class="getstart">
      <!-- <h1 class="">Homepage</h1> -->
      <a  href="/user/signin">Get Start</a>
    </div>
  <%- include("partials/footer")%>