<%- include("partials/header")%>
 <%- include("partials/nav")%>
    <%= message%>
        <div"  class="profile-page">
            <h1 >User Profile</h1>

            <div class="links">
                <a href="/user/signout">Signout</a>
                <a  href="/user/reset-password">Reset Password</a>
                <a  href="/user/delete-account">Delete Account</a>
                 <a  href="/user/update">Update User</a>
            </div>

            </div>



            <%- include("partials/footer")%>