*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    /* background-color: seagreen; */
    /* color: #fff; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage {
    color: seagreen;
}
.signup {
    background-color: #fff;
    text-align: center;
    color: #000;
    padding: 20px;
    margin: 5px;

}