*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
}

.watch-expense-page{
    color: #fff;
    background-color: #000;
    padding: 50px; 
}


.watch-expense-page ul li {
    color: #fff;
    background-color: #000;
    padding: 50px;
        font-size: 20px;
    
}