* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;

}

.signin-page {
    background-color: darkblue;
    color: #fff;
    border: 2px solid black;
    padding: 30px;
}

.sigintag h1 {
    color: black;
    font-size: 40px;
}

input{
    color: black;
}
input::placeholder{
    color: black;
}