

.avatar-preview{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.update-form {
background-color: #000;
color: #fff;
padding: 50px;
}